<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .textofondo{
            color: #FFF;
        }
        .fondo{
            background-color: black;
            width: 100%;
            height: 60px;
        }
        .botonfalso{
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email de Registro</title>
</head>
<body>
    <div class="fondo">
        <h1 class="textofondo">Cineflash</h1>
    </div>
    <div>
        <h3>Estimado: {{nombre}}</h3>
        <p>Le escribimos para informarle que ya puede registrarse en el sistema a través de este correo, por favor haga clic en el siguiente botón para empezar el registro</p>
        {{{link "Registrarse" url}}}
    </div>
    <p>Estarás registrado bajo el cine {{nombrecine}}</p>
</body>
</html>